* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', 'Helventica', 'Arial', 'sans-serif';
}

.button-1, .button-find, .course-item__title p, .course-item__prices span:last-child, .value-pros h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.course-item__title p, .course-item__title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-1, .button-find {
  padding: 1.1rem 1.2rem;
  background-color: #ec5252;
  color: #fff;
  border: 1px solid #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.button-1:hover, .button-find:hover {
  background-color: #992337;
}

.button-find {
  background-color: #fff;
  color: #ec5252;
}

.button-find:hover {
  background-color: #ec5252;
  color: #fff;
}

.btn-lang {
  padding: 9px 26px 9px 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px #AAA;
          box-shadow: 1px 1px 3px #AAA;
}

.btn-lang i:first-child {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.btn-lang i:last-of-type {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.btn-lang span {
  font-size: 1.3rem;
  margin-right: 1.8rem;
}

.btn-lang:hover .lang-select {
  display: block;
}

.btn-lang .lang-select {
  bottom: 40px;
  left: 15px;
  margin: 0 0 0 -15px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 1px 1px 4px #BBB;
          box-shadow: 1px 1px 4px #BBB;
  background-color: #FFF;
  text-align: left;
  display: none;
}

.btn-lang .lang-select a {
  display: block;
  font-size: 1.3rem;
  color: #686f7a;
  padding: 10px 30px 10px 10px;
}

.btn-lang .lang-select a:hover {
  background-color: #EEE;
}

.course-item__bottom {
  padding: 1.5rem 1rem 0 1.5rem;
}

.course-item__title {
  margin-bottom: 1.5rem;
}

.course-item__title p {
  word-break: normal;
  height: 4.2rem;
}

.course-item__title span {
  color: #686f7a;
}

.course-item__rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.course-item__rated h4 {
  margin: 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #505763;
}

.course-item__rated span {
  font-size: 1.2rem;
  color: #686f7a;
}

.course-item__star {
  color: #f4c150;
  font-size: 1.2rem;
}

.course-item__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-item__prices span:first-child {
  font-size: 1.3rem;
  text-decoration: line-through;
  margin-right: 1rem;
}

.course-item__prices span:last-child {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.value-pros {
  padding: 1.6rem;
}

.value-pros h4 {
  font-size: 1.9rem;
}

.value-pros p {
  font-size: 1.6rem;
}

.review-card {
  width: 448px;
  padding: 3.2rem;
}

.review-card__top {
  margin-bottom: 1.8rem;
}

.review-card__top img {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 68px;
  margin-right: 1.6rem;
}

.review-card__top span {
  font-size: 1.5rem;
  font-weight: 700;
}

.review-card__bottom {
  font-size: 1.5rem;
}

.panel {
  width: 30%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEE;
  -webkit-box-shadow: 1px 1px 1px 1px #888;
          box-shadow: 1px 1px 1px 1px #888;
}

.panel i {
  font-size: 3.2rem;
  padding-right: 1.6rem;
}

.panel span {
  font-size: 1.5rem;
  color: #14171C;
}

.panel:hover {
  border-color: #FFF;
  -webkit-box-shadow: 1px 1px 10px #888;
          box-shadow: 1px 1px 10px #888;
}
/*# sourceMappingURL=main.css.map */