* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', 'Helventica', 'Arial', 'sans-serif';
  font-size: 1.5rem;
}

.button-1, .button-find, .header__input-search button, .value-pros h4, .course-item__title p, .course-item__prices span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.course-item__title p, .course-item__title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-1, .button-find, .header__input-search button {
  padding: 1.1rem 1.2rem;
  background-color: #ec5252;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
}

.button-1:hover, .button-find:hover, .header__input-search button:hover {
  background-color: #992337;
}

.button-find {
  background-color: #fff;
  color: #ec5252;
}

.button-find:hover {
  background-color: #ec5252;
  color: #fff;
}

.btn-lang {
  padding: 9px 26px 9px 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px #AAA;
          box-shadow: 1px 1px 3px #AAA;
}

.btn-lang i:first-child {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.btn-lang i:last-of-type {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.btn-lang span {
  font-size: 1.3rem;
  margin-right: 1.8rem;
}

.btn-lang:hover .lang-select {
  display: block;
}

.btn-lang .lang-select {
  bottom: 40px;
  left: 15px;
  margin: 0 0 0 -15px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 1px 1px 4px #BBB;
          box-shadow: 1px 1px 4px #BBB;
  background-color: #FFF;
  text-align: left;
  display: none;
}

.btn-lang .lang-select a {
  display: block;
  font-size: 1.3rem;
  color: #686f7a;
  padding: 10px 30px 10px 10px;
}

.btn-lang .lang-select a:hover {
  background-color: #EEE;
}

.review-card {
  width: 448px;
  padding: 3.2rem;
}

.review-card__top {
  margin-bottom: 1.8rem;
}

.review-card__top img {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 68px;
  margin-right: 1.6rem;
}

.review-card__top span {
  font-size: 1.5rem;
  font-weight: 700;
}

.review-card__bottom {
  font-size: 1.5rem;
}

.panel {
  width: 30%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEE;
  -webkit-box-shadow: 1px 1px 1px #999;
          box-shadow: 1px 1px 1px #999;
}

.panel i {
  font-size: 3.2rem;
  padding-right: 1.6rem;
  color: #14171C;
}

.panel span {
  font-size: 1.5rem;
  color: #14171C;
}

.panel:hover {
  border-color: #FFF;
  -webkit-box-shadow: 1px 1px 10px #888;
          box-shadow: 1px 1px 10px #888;
}

.partner {
  width: 240px;
  padding: 36px 0 22px;
  text-align: center;
}

.partner a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #505763;
}

.partner p {
  font-size: 1.5rem;
}

.partner button {
  border-radius: 4px;
}

.value-pros {
  height: 100%;
  padding: 1.6rem;
  border: 1px solid #dedfe0;
  background: white;
}

.value-pros img {
  height: 60px;
}

.value-pros h4 {
  font-size: 1.9rem;
}

.value-pros p {
  font-size: 1.6rem;
}

.course-item {
  width: 240px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 3px 3px #AAA;
          box-shadow: 0 3px 3px #AAA;
  padding-bottom: 15px;
}

.course-item img {
  width: 100%;
}

.course-item__bottom {
  padding: 1.5rem 1rem 0 1.5rem;
}

.course-item__title {
  margin-bottom: 1.5rem;
}

.course-item__title span {
  color: #686f7a;
}

.course-item__rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.course-item__rated h4 {
  margin: 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #505763;
}

.course-item__rated span {
  font-size: 1.2rem;
  color: #686f7a;
}

.course-item__star {
  color: #f4c150;
  font-size: 1.2rem;
}

.course-item__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-item__prices span:first-child {
  font-size: 1.3rem;
  text-decoration: line-through;
  margin-right: 1rem;
}

.course-item__prices span:last-child {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.button-1, .button-find, .header__input-search button, .value-pros h4, .course-item__title p, .course-item__prices span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.course-item__title p, .course-item__title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__content {
  padding: 10px 0;
}

.header__linear-gradient {
  width: 100%;
  height: 0.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#645b53), color-stop(18.23%, #eb5252), color-stop(34.37%, #f78f2f), color-stop(48.96%, #f4c151), color-stop(66.15%, #52bb76), color-stop(82.29%, #26a5d7), to(#e069b7));
  background: linear-gradient(90deg, #645b53 0%, #eb5252 18.23%, #f78f2f 34.37%, #f4c151 48.96%, #52bb76 66.15%, #26a5d7 82.29%, #e069b7 100%);
}

.header__logo img {
  width: 120px;
}

.header__categories {
  border: 1px solid transparent;
  display: inline-block;
  color: #505763;
  padding: 10px;
  margin-right: 10px;
}

.header__categories i {
  color: #686f7a;
  margin-right: 5px;
}

.header__categories:hover {
  color: #505763;
  border: 1px solid #EEE;
  background-color: rgba(20, 23, 28, 0.05);
  border-radius: 3px;
}

.header__input-search input {
  text-indent: 10px;
  font-size: 15px;
  padding: 25px 0;
  border-color: rgba(222, 223, 224, 0.757);
  border-right-color: transparent;
  background-color: rgba(20, 23, 28, 0.05);
}

.header__input-search input:placeholder-shown {
  text-indent: 10px;
}

.header__input-search button {
  color: #505763;
  background-color: #ec5252;
  border-color: rgba(222, 223, 224, 0.757);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left-color: transparent;
  color: #ec5252;
  background-color: rgba(20, 23, 28, 0.05);
}

.header__input-search button:hover {
  background-color: #ec5252;
  color: white;
  border-color: rgba(222, 223, 224, 0.757);
}

.header__info {
  border-right: 1px solid #dedfe0;
}

.header__info a {
  font-size: 1.2rem;
}

.header__buttons button:first-child {
  border: 1px solid black;
  background-color: white;
  color: #505763;
}

.header__buttons button:first-child:hover {
  color: black;
}

.header__cart a {
  padding: 10px 15px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 20px;
  color: #505763;
}

.header__cart a:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.button-1, .button-find, .header__input-search button, .value-pros h4, .course-item__title p, .course-item__prices span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.course-item__title p, .course-item__title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel {
  display: block;
  height: 500px;
  background: url(../../img/banner.jpg) center center/cover no-repeat;
  position: relative;
  margin-bottom: 1.8rem;
}

.carousel__content {
  width: 25%;
  top: 30%;
  left: 15%;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .carousel__content {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .carousel__content {
    top: 30%;
    left: 10%;
    position: absolute;
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .carousel__content {
    top: 30%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.carousel__content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #dedfe0;
  margin-bottom: 1rem;
}

.carousel__content p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #dedfe0;
  margin-bottom: 1.8rem;
}

.carousel__input-search input {
  padding: 20px 0;
  text-indent: 10px;
  font-size: 1.5rem;
}

.carousel__input-search input:placeholder-shown {
  text-indent: 10px;
}

.carousel__input-search input:focus {
  border-color: red;
}

.carousel__input-search button {
  padding: 0 20px;
  background: white;
  color: #ec5252;
  font-size: 1.8rem;
  border-color: #dedfe0;
  border-left: transparent;
}

.carousel__input-search button:hover {
  background: #ec5252;
  color: white;
}

.button-1, .button-find, .header__input-search button, .value-pros h4, .course-item__title p, .course-item__prices span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.course-item__title p, .course-item__title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel {
  width: 30%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEE;
  -webkit-box-shadow: 1px 1px 1px #999;
          box-shadow: 1px 1px 1px #999;
}

.panel i {
  font-size: 3.2rem;
  padding-right: 1.6rem;
  color: #14171C;
}

.panel span {
  font-size: 1.5rem;
  color: #14171C;
}

.panel:hover {
  border-color: #FFF;
  -webkit-box-shadow: 1px 1px 10px #888;
          box-shadow: 1px 1px 10px #888;
}

.partner {
  width: 240px;
  padding: 36px 0 22px;
  text-align: center;
}

.partner a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #505763;
}

.partner p {
  font-size: 1.5rem;
}

.partner button {
  border-radius: 4px;
}

.value-pros {
  height: 100%;
  padding: 1.6rem;
  border: 1px solid #dedfe0;
  background: white;
}

.value-pros img {
  height: 60px;
}

.value-pros h4 {
  font-size: 1.9rem;
}

.value-pros p {
  font-size: 1.6rem;
}

.owl-prev span {
  color: #007791;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: -2%;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 1px solid #dedfe0;
  border-radius: 50%;
  background-color: white;
}

.owl-next span {
  color: #007791;
  font-size: 40px;
  position: absolute;
  top: 30%;
  right: -2%;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 1px solid #dedfe0;
  border-radius: 50%;
  background-color: white;
}

.new-chanel__left {
  background: white;
  padding: 0 32px;
}

.new-chanel__left h3 {
  font-weight: 700;
}

.new-chanel__tabs#nav-tab.nav.nav-tabs.custom-nav {
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.new-chanel__tabs#nav-tab.nav.nav-tabs.custom-nav .nav-item {
  color: #505763;
  border: none;
  border-bottom: 1px solid #dedfe0;
  color: "";
}

.new-chanel__tabs#nav-tab.nav.nav-tabs.custom-nav .nav-item:hover {
  border: none;
  border-bottom: 1px solid #dedfe0;
}

.new-chanel__tabs#nav-tab.nav.nav-tabs.custom-nav .nav-item.nav-link.active {
  padding-bottom: 20px;
  border: none;
  border-bottom: 5px solid #007791;
}

.new-chanel__values {
  padding: 20px 0;
  background: #dedfe0;
}
/*# sourceMappingURL=main.css.map */