

.button-1 {
    @extend %bold-text;
    padding: p(p-2) p(p-3);
    background-color: c(orange-red);
    color: c(white);
    border: 1px solid c(white);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    &:hover {
        background-color: c(dark-red);
    }
}

.button-find {
    @extend .button-1;
    background-color: c(white);
    color: c(orange-red);
    &:hover {
        background-color: c(orange-red);
        color: c(white);
    }
}

.btn-lang {

    padding: 9px 26px 9px 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #AAA;

    i:first-child {
        margin-right: m(m-1);
        font-size: fz(fz-7);
    }

    i:last-of-type{
        font-size: fz(fz-7);
        margin-left: m(m-1);
    }

    span {
        font-size: fz(fz-7);
        margin-right: m(m-3);
    }

    &:hover .lang-select{
        display: block;
    }

    .lang-select {
        bottom:40px;
        left: 15px;
        margin: 0 0 0 -15px;
        border: 1px solid #DDD;
        box-shadow: 1px 1px 4px #BBB;
        background-color: #FFF;
        text-align: left;
        display: none;
        
        a{
            display: block;
            font-size: fz(fz-7);
            color: c(light-grey);
            padding: 10px 30px 10px 10px;
        }

        a:hover {
            background-color: #EEE;
        }
        
    }

}