.course-item {

    &__bottom{
       padding: p(p-4) p(p-1) 0 p(p-4);
    }

    &__title{
        margin-bottom: m(m-2);

        p {
        @extend %bold-text;
        @extend %text-ellipsis;
        word-break: normal;
        height: 4.2rem;
        }

        span {
            @extend %text-ellipsis;
            color: c(light-grey);
        }
        
    }

    &__rated{
        display: flex;
        align-items: center;
        margin-bottom: m(m-1);

        h4 {
            margin: 0 0.5rem;
            font-size: 1.3rem;
            font-weight: fw(fw-7);
            color: c(light-black);
        }

        span {
            font-size: fz(fz-1);
            color: c(light-grey);
        }

    }

   &__star{
       color: c(yellow-orange);
       font-size: fz(fz-1);
   }

   &__prices{
        display: flex;
justify-content: right;
        align-items: center;
       span:first-child {
        font-size: 1.3rem;
        text-decoration: line-through;
        margin-right: m(m-1);
       }

       span:last-child{
           @extend %bold-text;
            font-size: 1.8rem;
            margin-right: m(m-1);
       }

   }
}

.value-pros {
    padding: 1.6rem;

    h4 {
        @extend %bold-text;
        font-size: 1.9rem;
    }

    p {
        font-size: 1.6rem;
    }
}

.review-card {
    width: 448px;
    padding: p(p-6);

    &__top {
        margin-bottom: m(m-3);

        img {
            border: 1px solid transparent;
            border-radius: 50%;
            width: 68px;
            margin-right: 1.6rem;
        }
        
        span {
            font-size: fz(fz-2);
            font-weight: fw(fw-7);
        }
    }
    &__bottom {
        font-size: fz(fz-2);
    }
}